# .gitignore
# Copyright © 2020 Adrian Kashivskyy. All rights reserved.

.DS_Store
.Trashes
.localized

xcuserdata
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xctimeline
*.moved-aside
*.hmap
*.o
*.ipa
*.dSYM.zip

.build
.swiftpm

Pods
Carthage
