# .gitattributes
# Copyright © 2020 Adrian Kashivskyy. All rights reserved.

Package.swift linguist-detectable=false
Package.resolved linguist-detectable=false

QuickSwiftCheck.podspec linguist-detectable=false
