#
# Cartfile
#
# Copyright © 2017 Adrian Kashivskyy. All rights reserved.
# Licensed under the MIT License.
#

github "Quick/Nimble" ~> 7.1.0
github "Quick/Quick" ~> 1.3.0
github "typelift/SwiftCheck" ~> 0.10.0
