// Framework-Base.xcconfig
// Copyright © 2020 Adrian Kashivskyy. All rights reserved.

#include "../External/Targets/Framework.xcconfig"

// MARK: Bundle

_BUNDLE_NAME = QuickSwiftCheck
_BUNDLE_IDENTIFIER = me.akashivskyy.lib.quickswiftcheck
_BUNDLE_INFOPLIST_PATH = $(PROJECT_DIR)/$(PROJECT_NAME)/Resources/Framework-Info.plist

_BUNDLE_TESTABLE = NO

// MARK: Custom

ENABLE_BITCODE = NO
APPLICATION_EXTENSION_API_ONLY = NO
